*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li,ol{
    list-style: none;
}
.container{
    margin-top: 50px;
    padding-top: 20px;
    max-width: 1320px;
background-color: rgb(123, 131, 197);
margin-left: auto;
margin-right: auto;
padding-bottom: 20px;
}
h1{
    font-size: 50px;
    color: rgb(5, 253, 141);
    font-weight: bold;
    font-style: italic;
}
.fashion{
    font-size: 30px;
    font-weight: 200;
    color: #b24c4c;
}
.paragraph{
    font-size: 40px;
    color: rgb(126, 10, 10);
    font-style: normal;
    font-weight: lighter;
    transition: all 0.s ease-in-out ;
}
.paragraph:hover{
    color: #000000;
    font-size: 50px;
    

}